.error {
    text-align: center;
    margin: 150px;
    color: #FF6060;
    list-style-type: none;
    
    h1 {
        font-size: 17em;
    }
    p {
        font-size: 2em;
        margin: 20px;
        padding: 20px;
    }
    a {
        color: #FF6060;
        text-decoration: none;
        // margin: 20px;
        // padding: 20px;
    }
}