.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    img {
        object-fit: cover;
        width: 340px;
        height: 340px;
        border-radius: 10px;
    }
}

.banner {

    img {
        width: 100%;
    }
}

