.Owner {
    .banner {
        width: 100%;
        height: 415px;
    }
    
    .top {
        display: flex;
        justify-content: space-between;
    }

    .middle {
        display: flex;
        justify-content: space-between;
        button {
            width: 115px;
            height: 25px;
            border: none;
            border-radius: 10px;
            background: #FF6060;
            color: #fff;
            margin: 10px 15px 10px 0;
            
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        height: 200px;
        .dropbox {
            margin-top: 10px;
            background: #E5E5E5;
            border-radius: 5px;
            // padding: 20px;
        }
        .left .dropbox {
            margin-right: 10px;
        }
        .right .dropbox {
            margin-left: 10px;
        }

        .left, .right {
            width: 50%;
            
        }

        .left-content {
            color: #FF6060;
            max-height: 0;
            overflow: hidden;
            transition: all 0.3s cubic-bezier(0,1,0,1);
        }
        
        .left-content.drop {
            height: auto;
            max-height: 9999px;
            transition: all 0.3s cubic-bezier(1,0,1,0);
        }

        .right-content {
            color: #FF6060;
            max-height: 0;
            overflow: hidden;
            transition: all 0.3s cubic-bezier(0,1,0,1);
        }
        
        .right-content.drop {
            height: auto;
            max-height: 9999px;
            transition: all 0.3s cubic-bezier(1,0,1,0);
        }
    }







    .owner {
        width: 150px;
        display: flex;
        align-items: center;
        p {
            font-size: 18px;
        }
        img {
            color: #C4C4C4;
            border-radius: 50%;
            width: 64px;
            height: 64px;
        }
    }
    
    .star {
        display: flex;
    }


}
